.cont-imgs-peq {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; /* Hace que la barra de desplazamiento aparezca si el contenido es más grande que el contenedor */
    white-space: nowrap; /* Evita que las imágenes bajen a la siguiente línea */
}
.cont-imgs-peq img {
    width: 160px;
    margin: 0 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}
.cont-imgs-peq img.active {
    opacity: 20%;
}